src/main/resources/xml/bankDB.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="customerId"/>
                <xs:element type="xs:string" name="firstName"/>
                <xs:element type="xs:string" name="lastName"/>
                <xs:element type="xs:string" name="address"/>
                <xs:element type="xs:string" name="phoneNumber"/>
                <xs:element type="xs:string" name="email"/>
                <xs:element name="creditCards">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="creditCard">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="creditCardId"/>
                                        <xs:element type="xs:int" name="customerId"/>
                                        <xs:element type="xs:string" name="creditCardNumber"/>
                                        <xs:element type="xs:date" name="expiryDate"/>
                                        <xs:element type="xs:double" name="creditLimit"/>
                                        <xs:element type="xs:double" name="outstandingBalance"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="debitCards">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="debitCard">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="debitCardId"/>
                                        <xs:element type="xs:int" name="customerId"/>
                                        <xs:element type="xs:string" name="cardNumber"/>
                                        <xs:element type="xs:date" name="expirationDate"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="loans">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="loan">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="loanId"/>
                                        <xs:element type="xs:int" name="customerId"/>
                                        <xs:element type="xs:string" name="loanType"/>
                                        <xs:element type="xs:double" name="loanAmount"/>
                                        <xs:element type="xs:double" name="interestRate"/>
                                        <xs:element type="xs:date" name="startDate"/>
                                        <xs:element type="xs:date" name="endDate"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>